<!DOCTYPE html>
<html>
<head>
    <title>{{ category }} Options</title>
</head>
<body>
    <h1>Category: {{ category }}</h1>
    <form action="/recipes" method="post">
        <input type="hidden" name="category_name" value="{{ category }}">
        <label for="selected_option">Select an option:</label><br>
        <select id="selected_option" name="selected_option">
            {% for option in options %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select><br><br>
        <button type="submit">Show me recipes</button>
    </form>
</body>
</html>
